@using Architecture
@using DataEntity
@{
    Layout = null;
}

@model  Loginer
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="Api在线文档">
    <meta name="author" content="cmm">
    <link rel="icon" href="@Url.Content("~/Images/hsq.png")">

    <title>Api_Online</title>
    @Scripts.Render("~/js/basejslib")
    @Styles.Render("~/css/basecsslib")
    
</head>

<body>

    <div class="container">
        <form class="form-signin" method="post">
            <h2 class="form-signin-heading">Api-在线文档登陆</h2>
            @Html.TextBoxFor(m => m.Account, null, new { @class = "form-control", placeholder = "账户" })

            @Html.TextBoxFor(m => m.Password, null, new { @class = "form-control", placeholder = "密码" })
            <div>
                @Html.TextBoxFor(m=>m.ValidateCode,null,new { @class = "form-control", placeholder = "验证码", @style = "display: inline;" })
                <img id="valiCode" style="cursor: pointer;" src="@Url.Content("~/Home/GetValidateCode")" alt="验证码" />
            </div>
  
            <button class="btn btn-lg btn-primary btn-block" type="button" onclick="Login();">登陆</button>
            <div style="color:red; margin-top:15px;">
                @Html.ValidationSummary()
            </div>
        </form>
        <script type="text/javascript">
            $(function() {
                $("#valiCode")
                    .bind("click",
                        function() {
                            this.src = window.basePath + "Home/GetValidateCode?time=" + (new Date()).getTime();
                        });
            });

            function Login() {
                $('form').submit();
            }

            function RedirctToMain() {
                parent.parent && parent.parent.location && parent.parent.location.href && (parent.parent.location.href = '@(BasePath)Home/AceMain');
            }

        @Html.Raw(ViewBag.script)
        </script>
    </div> <!-- /container -->
</body>
</html>